<div class="container-fluid py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid">
        <h1 class="display-5 fw-bold">Analysis Request Details</h1>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-12 col-lg-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h3>Request ID: {{analysisDetails?.id}}</h3>
          <h3>Request Status: {{analysisDetails?.status}}</h3>
          <h3>Request By: {{analysisDetails?.requestedBy}}</h3>
          <h3>Request Date: {{analysisDetails?.requestDate}}</h3>
          <h3>Completion Date : {{analysisDetails?.completionDate}}</h3>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h3>Protocol Detail</h3>
          <h4>Sample: <b>{{getLiquidName(analysisDetails?.liquidId)}}</b></h4>
          <h4>Container: <b>{{getContainerName(analysisDetails?.containerId)}}</b></h4>
          <p>pH: <b>{{analysisDetails?.powerHydrogen}}</b></p>
          <p>Turbidity: <b>{{analysisDetails?.turbidity}}</b></p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>
    <div class="mt-4 bg-body-tertiary rounded-3">
        <div class="d-flex justify-content-end">
            <button class="btn btn-success me-2" type="button" (click)="cancelOperation()">Volver a la Lista</button>
        </div>
    </div>
  </div>

