.example-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    background-color: cornflowerblue;
    /* display: flex; */
    /* height: 100%;
    align-items: center;
    justify-content: center; */
  }
  
  .example-sidenav {
    background-color: rgb(11, 48, 83);
    padding: 20px;
    position: fixed;
    height: 100vh;
    
  }